.Layout__head {
  height: 80px;
  background: #f5f5f5;
}
.Layout__head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}

.item__info {
  width: 80%;
  padding: 20px;
}
.total__basket {
  min-width: 100px;
  font-weight: bold;
  font-size: 18px;
}
