.Modal__number {
  display: flex;
  padding: 20px 10px 20px 20px;
}
.Modal__title {
  padding: 0 20px;
}
.Modal__price {
  position: absolute;
  left: 85.96%;
}
.number {
  position: absolute;
  left: 94.51%;
}

.total {
  float: right;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding-right: 10%;
  padding-top: 10px;
}
.result {
  position: absolute;
  padding-left: 16%;
}
